<div *ngIf = "quantity[index] >= 0">
    <div class = "container">

        <!-- <div class="col-lg-1">cjh</div>
        <div class="col-lg-8"> -->
                <div class = "row" style = "margin-top: 2%; display: flex; flex-direction: row">
                        <div class = "col-mod-2">
                            <img src="../assets/{{cartObjArr[index].image}}" alt="image" width = 100 height = 200>
                        </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       
                                <div class = "col-mod-10" style = "height: 100%">
                            <div *ngIf="this.data.cartquantity==0">
                                        <img src="../../assets/emptycart.png" style="float: right">
                
                                </div>
                            <h4>{{cartObjArr[index].name}}</h4>
                            <br>
                            <h5>Price: {{cartObjArr[index].price}}</h5>
                            <br>
                            <h5>Quantity: {{quantity[index]}}</h5>
                            <button class="btn" (click) = "decrease();">-</button>&nbsp;<button id = "mine" class="btn" (click) = "increase();">+</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn" (click) = "remove();">Remove</button>
                        </div>
                        <hr>
                        <hr>
                    </div>
        <!-- </div> -->
        <!-- <div class="col-lg-3" style="height: 400px; width: fit-content; border: solid lightgray 2px">
            <h4>Total Bill</h4>
        </div> -->
        
    </div>
</div>
