
<div class="login-page">
    <div class="form">
      <form id="login-form">
        <input type="text" [(ngModel)] = "username" name = "nme" placeholder="username"/>
        <input type="password" [(ngModel)] = "password" name = "pw"placeholder="password"/>
        <button (click) = "submit()">login</button>
        <div *ngIf = "blankInput== true">Mee ayya kodthada username or Password</div>
        <div *ngIf = "temp== true">Enter the valid username or Password</div>
        <p class="message">Not registered? <a routerLink="/signup">Create an account</a></p>
      </form>
    </div>
  </div>