<div *ngIf = "cartObjArr.length > 0">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
                <!-- <p>checking</p>
                <p>{{this.data.cartquantity}}</p> -->
                <div *ngIf="this.data.cartquantity==0">
                        <img src="../../assets/emptycart.png" class="center">
                        <button type="button" routerLink ="/home" class="center btn" style="font-family: Verdana, Geneva, Tahoma, sans-serif">Shop Now</button>

                </div>
                        <div *ngFor = "let x of cartIndex">
                                        <!-- <p>{{cartObjArr[x].title}}</p> -->
                                        <app-cart-item-details [index] = "x"></app-cart-item-details>
                                </div>
        </div>
        <div class="col-lg-3 row">
               <div *ngIf="this.data.cartquantity!=0" class="bill" style="height: 400px; width: fit-content; border: solid lightgray 2px">
                        <h2 style = "text-align: right">Total Bill: {{this.data.totalBill}}/-</h2>
                        <!-- <h3 class="total">{{this.data.totalBill}}/-</h3> <br> -->
                        <br>
                        <div class="col-xs-12">
                                <label for="ex2">Name</label>
                                <input class="form-control" id="ex2" type="text">
                                <br>
                                <label for="ex2">Mobile number</label>
                                <input class="form-control" id="ex2" type="text">
                                <br>
                                <label for="ex2">Address</label>
                                <textarea class="form-control" id="ex3"></textarea>
                        </div>
               </div>
               <div *ngIf="this.data.cartquantity!=0" ><button routerLink = "/checkout" class="centerbtn" style="font-family: Verdana, Geneva, Tahoma, sans-serif" (click) = "purchase()">Proceed to checkout</button></div>
        </div>

        <br>
</div>
<!-- <button routerLink = "/checkout"> click here to check out</button> -->
 <!-- <button routerLink = "/check-out"> click here to check out</button> -->