.bill{
    margin: 5%;
    /* float: right; */
    border-radius: 5px;
}

.total{
    float: left;
    text-align: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }