<div class="card mb-3">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div *ngIf = "objt!=null">
      <div class="container">
        <div class = "col-mod-3">
            <img src="../assets/{{objt[ind].image}}" alt="image" width = 100 height = 200> 
        </div>
        <div class = "col-mod-7">
          <h4 class="card-title">{{objt[ind].name}}</h4>
          <p class="card-text">{{objt[ind].description}}</p>
          <p class="card-text">{{objt[ind].quantity}}</p> 
          <p>Price: {{objt[ind].price}}</p>

          <button color="primary" routerLink="/home">back</button>&nbsp;

          <button (click)="addToCart()"> Add to cart</button><br><br>

          <div *ngIf = "added">
              <p> product added to the cart</p>
          </div>

          <textarea name = "review" [(ngModel)] = "rvw" placeholder="Leave your review"></textarea>&nbsp;
          <div class = "c">
            <button type= "submit" (click)= "review()">Submit</button>
          </div>
        
      </div> 
      </div>
    </div>
  </div>

